/* screen - data */

.data {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 22px;
  height: 1080px;
  width: 1920px;
}

.data .flex-row {
  align-items: flex-start;
  display: flex;
  gap: 1023px;
  height: 77px;
  margin-right: 7.0px;
  margin-top: 154px;
  min-width: 1809px;
}

.Table {
  position: absolute;
  height: 750px;
  bottom: 0px;
  width: auto !important;
}

.data .title {
  color: #000000;
  font-family: var(--font-family-khula);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  min-height: 76px;
  width: 517px;
}

.data .rectangle-4 {
  align-self: flex-end;
  background-color: #d9d9d9;
  height: 53px;
  width: 269px;
}

#Selection {
  align-self: flex-end;
  background-color: #d9d9d9;
  height: 53px;
  width: 269px;
}

.data .rectangle-3 {
  height: 827px;
  width: 1920px;
}

/* Add missing class rules from the second CSS file */

.data .overlap-group2 {
  height: 267px;
  margin-left: -13px;
  margin-top: -36px;
  position: relative;
  width: 1941px;
}

.data .overlap-group1 {
  height: 266px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1941px;
}

.data .view-orders-information {
  color: var(--black);
  font-family: var(--font-family-khula);
  font-size: var(--font-size-s);
  font-weight: 400;
  left: 65px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 190px;
  width: 517px;
}

.data .overlap-group {
  height: 195px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1933px;
}

.data .rectangle-1 {
  background-color: #1e1e1e;
  height: 122px;
  left: 13px;
  position: absolute;
  top: 35px;
  width: 1920px;
}

.data .title {
  left: 1344px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 66px;
  width: 100px;
}

.data .optimize {
  left: 1470px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 66px;
  width: 224px;
}

.data .login {
  left: 1645px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 66px;
  width: 98px;
}

.data .sign-up {
  left: 1761px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 66px;
  width: 130px;
}

.data .logo-light-1-1 {
  height: 195px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 316px;
}

.data .rectangle-4 {
  background-color: #d9d9d9;
  height: 53px;
  left: 1605px;
  position: absolute;
  top: 214px;
  width: 269px;
}

.data .rectangle-3 {
  height: 827px;
  width: 1920px;
}
