/* screen - home-hf */

.home-hf {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 926px;
  overflow: hidden;
  width: 428px;
}

.home-hf .flex-row {
  align-items: flex-start;
  display: flex;
  height: 47px;
  margin-top: 23px;
  min-width: 392px;
}

.home-hf .icon-hamburger-menu {
  height: 25px;
  width: 35px;
}

.home-hf .logo {
  align-self: center;
  height: 40px;
  margin-bottom: 3.0px;
  margin-left: 88px;
  object-fit: cover;
  width: 148px;
}

.home-hf .vector {
  align-self: flex-end;
  height: 44px;
  margin-left: 76px;
  width: 46px;
}

.home-hf .homehero-container {
  height: 347px;
  margin-top: 10px;
  position: relative;
  width: 428px;
}

.home-hf .homehero {
  align-items: flex-start;
  background-color: var(--nandor);
  display: flex;
  flex-direction: column;
  gap: 16px;
  left: 0;
  padding: 0px 16px 40px;
  position: absolute;
  top: 0;
  width: 428px;
}

.home-hf .title {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.home-hf .surname {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.home-hf .place {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -21px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.home-hf .homecta {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.home-hf .frame-1 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 6px;
  position: relative;
}

.home-hf .frame-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 8px;
  position: relative;
  width: 242px;
}

.home-hf .we-are-a-family-owne {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 242px;
}

.home-hf .img_pop {
  height: 152px;
  object-fit: cover;
  position: relative;
  width: 147px;
}

.home-hf .button-primary {
  align-items: flex-start;
  background-color: var(--ripe-lemon);
  border-radius: 16px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 8px 16px;
  position: relative;
}

.home-hf .label {
  color: var(--black);
  font-weight: 700;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.home-hf .homecta-1 {
  align-items: flex-start;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.home-hf .order-for-delivery {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 296px;
}

.home-hf .pills::-webkit-scrollbar {
  display: none;
  width: 0;
}

.home-hf .pills {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  gap: 12px;
  overflow: hidden;
  overflow-x: scroll;
  position: relative;
  width: 412px;
}

.home-hf .pill {
  align-items: flex-start;
  background-color: var(--gallery);
  border-radius: 16px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 10px;
  position: relative;
}

.home-hf .label-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.home-hf .frame-4::-webkit-scrollbar {
  display: none;
  width: 0;
}

.home-hf .frame-4 {
  align-items: flex-end;
  display: flex;
  height: 675px;
  margin-top: 1px;
  min-width: 396px;
  overflow-y: scroll;
}

.home-hf .cards::-webkit-scrollbar {
  display: none;
  width: 0;
}

.home-hf .cards {
  align-items: flex-start;
  display: inline-flex;
  gap: 10px;
  margin-bottom: -20px;
  overflow-y: scroll;
  padding: 16px 0px 0px;
  position: relative;
}

.home-hf .home-cards {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.home-hf .home-card {
  height: 123px;
  position: relative;
  width: 396px;
}

.home-hf .overlap-group {
  height: 123px;
  position: relative;
}

.home-hf .card-meal-card {
  align-items: center;
  display: inline-flex;
  gap: 15px;
  left: 0;
  position: absolute;
  top: 0;
}

.home-hf .frame-3 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  position: relative;
}

.home-hf .greek-salad {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 296px;
}

.home-hf .the-famous-greek-sal {
  height: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 297px;
}

.home-hf .price {
  height: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 297px;
}

.home-hf .rectangle-1 {
  height: 83px;
  object-fit: cover;
  position: relative;
  width: 83px;
}

.home-hf .line {
  height: 1px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 120px;
  width: 394px;
}

.home-hf .x1299 {
  height: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 297px;
}

.home-hf .greek-salad-5 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 296px;
}

.home-hf .the-famous-greek-sal-5 {
  height: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 297px;
}

.home-hf .x1299-4 {
  height: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 297px;
}
