/* screen - reservation-confirmation */

.reservation-confirmation {
  align-items: flex-start;
  background-image: url(../img/reservation-form.png);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  gap: 292px;
  min-height: 926px;
  padding: 122px 14px;
  width: 428px;
}

.reservation-confirmation .group-4 {
  align-items: flex-start;
  display: flex;
  height: 95px;
  margin-top: 102px;
  min-width: 396px;
}

.reservation-confirmation .table-reserved {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 296px;
}

.reservation-confirmation .vector {
  align-self: center;
  height: 193px;
  margin-right: 15.0px;
  width: 193px;
}
