.HOME-HF {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.HOME-HF .div-3 {
  background-color: #ffffff;
  height: 926px;
  overflow: hidden;
  position: relative;
  width: 428px;
}

.HOME-HF .frame {
  height: 675px;
  left: 16px;
  overflow-y: scroll;
  position: absolute;
  top: 578px;
  width: 396px;
}

.HOME-HF .cards {
  align-items: flex-start;
  display: inline-flex;
  gap: 10px;
  overflow-y: scroll;
  padding: 16px 0px 0px;
  position: relative;
}

.HOME-HF .home-cards {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.HOME-HF .home-card {
  height: 123px;
  position: relative;
  width: 396px;
}

.HOME-HF .overlap-group {
  height: 123px;
  position: relative;
}

.HOME-HF .card-meal-card {
  align-items: center;
  display: inline-flex;
  gap: 15px;
  left: 0;
  position: absolute;
  top: 0;
}

.HOME-HF .frame-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  position: relative;
}

.HOME-HF .text-wrapper {
  color: #000000;
  font-family: "Karla-Bold", Helvetica;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 296px;
}

.HOME-HF .p {
  color: #495e57;
  font-family: "Karla-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 297px;
}

.HOME-HF .text-wrapper-2 {
  color: #495e57;
  font-family: "Karla-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  height: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 297px;
}

.HOME-HF .rectangle {
  height: 83px;
  object-fit: cover;
  position: relative;
  width: 83px;
}

.HOME-HF .line {
  height: 1px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 120px;
  width: 394px;
}

.HOME-HF .home-order-2 {
  align-items: flex-start;
  background-color: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #33333340;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  left: 16px;
  overflow-x: scroll;
  padding: 40px 0px 32px;
  position: absolute;
  top: 427px;
  width: 396px;
}

.HOME-HF .order-FOR-DELIVERY {
  color: #000000;
  font-family: "Karla-ExtraBold", Helvetica;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 296px;
}

.HOME-HF .pills {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  gap: 12px;
  overflow: hidden;
  overflow-x: scroll;
  position: relative;
  width: 412px;
}

.HOME-HF .pill {
  align-items: flex-start;
  background-color: #edefee;
  border-radius: 16px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 10px;
  position: relative;
}

.HOME-HF .label {
  color: #495e57;
  font-family: "Karla-ExtraBold", Helvetica;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.HOME-HF .overlap {
  height: 347px;
  left: 0;
  position: absolute;
  top: 80px;
  width: 428px;
}

.HOME-HF .home-hero {
  align-items: flex-start;
  background-color: #495e57;
  display: flex;
  flex-direction: column;
  gap: 16px;
  left: 0;
  padding: 0px 16px 40px;
  position: absolute;
  top: 0;
  width: 428px;
}

.HOME-HF .title {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.HOME-HF .text-wrapper-3 {
  color: #f4ce14;
  font-family: var(--display-serif-font-family);
  font-size: var(--display-serif-font-size);
  font-style: var(--display-serif-font-style);
  font-weight: var(--display-serif-font-weight);
  letter-spacing: var(--display-serif-letter-spacing);
  line-height: var(--display-serif-line-height);
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.HOME-HF .text-wrapper-4 {
  color: #edefee;
  font-family: var(--subheading-font-family);
  font-size: var(--subheading-font-size);
  font-style: var(--subheading-font-style);
  font-weight: var(--subheading-font-weight);
  letter-spacing: var(--subheading-letter-spacing);
  line-height: var(--subheading-line-height);
  margin-top: -21px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.HOME-HF .home-CTA {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.HOME-HF .frame-3 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 6px;
  position: relative;
}

.HOME-HF .frame-4 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 8px;
  position: relative;
  width: 242px;
}

.HOME-HF .text-wrapper-5 {
  color: #ffffff;
  font-family: "Karla-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 242px;
}

.HOME-HF .img-pop {
  height: 152px;
  object-fit: cover;
  position: relative;
  width: 147px;
}

.HOME-HF .button-primary {
  align-items: flex-start;
  background-color: #f4ce14;
  border-radius: 16px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 8px 16px;
  position: relative;
}

.HOME-HF .label-2 {
  color: #000000;
  font-family: var(--nav-link-font-family);
  font-size: var(--nav-link-font-size);
  font-style: var(--nav-link-font-style);
  font-weight: var(--nav-link-font-weight);
  letter-spacing: var(--nav-link-letter-spacing);
  line-height: var(--nav-link-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.HOME-HF .img {
  height: 44px;
  left: 364px;
  position: absolute;
  top: 26px;
  width: 46px;
}

.HOME-HF .logo {
  height: 40px;
  left: 141px;
  object-fit: cover;
  position: absolute;
  top: 25px;
  width: 148px;
}

.HOME-HF .icon-hamburger-menu {
  height: 25px;
  left: 18px;
  position: absolute;
  top: 23px;
  width: 35px;
}
