:root { 
  --black: #000000;
  --white: #ffffff;
 
  --font-size-l: 48px;
  --font-size-m: 36px;
  --font-size-s: 22px;
  --font-size-xl: 72px;
  --font-size-xs: 20px;
 
  --font-family-lateef: "Lateef", Helvetica;
  --font-family-maven_pro: "Maven Pro", Helvetica;
  --font-family-paytone_one: "Paytone One", Helvetica;
}
.lateef-normal-white-48px {
  color: var(--white);
  font-family: var(--font-family-lateef);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}
