/* ManufacturerForm.css */

/* Add styles for labels */
label {
    font-weight: bold;
    color: blue;
  }
  
  /* Add styles for input fields */
  input {
    padding: 5px;
    border: 1px solid #ccc;
  }
  .hover\:shadow-2xl:hover{
    box-shadow: 0px 8px 50px rgba(107, 28, 185, 0.6);
  
  }